.projectImage {
    max-height: 150px;
}

.workedOnImg {
    height: 50px;
    width: auto;
    margin-left: 12.5px;
    margin-right: 12.5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

blockquote {
    text-indent: -0.45em;
    border-left: 2px solid red;
    padding-left: 15px;
}

@supports ( hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}